body{
    background-image: url(img.jpg) ;
}
.home{
    background-color: white;
    text-align: center;
    background-color: white;
    width: 20cm;
   position: absolute;
   top: 20%;
   left: 50%;
   transform: translate(-50%,-50%);
}